 [[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
pep8-naming = "*"
pytest = "*"
mypy = "*"
ipython = "*"
mongomock = "*"
grpc-stubs = "*"
pylint = "*"

[packages]
azureml-sdk = "*"
azureml-core = "*"
azure-mgmt-resource = "2.0"
azure-mgmt-network = "2.2"
azure-mgmt-compute = "4.3"
haikunator = "*"

[requires]
python_version = "3.8"
