 [[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
pep8-naming = "*"
pytest = "*"
mypy = "*"
ipython = "*"
mongomock = "*"
grpc-stubs = "*"
pylint = "*"

[packages]
azureml-sdk = "*"
azureml-core = "*"
azure-identity="*"
requests = "*"
utils = "*"

[requires]
python_version = "3.8"
